<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/responsive.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="fontawesome-free-5.9.0-web/css/all.css">
</head>
<body>
	<div class="container">
		{{> header}}
		<div id="banner">
			<img style="max-width: 100%;display: block" src="/images/uef-nv1-1491181532-1492420096.jpg" alt="">
		</div>


		<div id="content">
			<div class="thanh-tieu-de">
				<div>
					<img style="max-width: 100%;display: block" src="/images/icon-title-1.png" alt="">
				</div>
				<div>
					<h3>Tuyển Sinh - Đào tạo</h3>
				</div>
			</div>
			<div class="article">
				<div class="left-article">
					<div class="anh-noi-dung">
						<img src={{imageUrl0}} alt="">
					</div>
					<div>
						<h4>{{newTitle0}}</h4>
						<p>{{shortcutContent0}}</p>
					</div>
				</div>
				<div class="right-article">
					<ul style = "list-style-type: square;" class = "clearfix">
						<li>{{title0}}<img style = "width: 33px; height: 16px; padding-right: 0px;" src="/images/newicon_vi.gif"></li>
						<li>{{title1}}<img style = "width: 33px; height: 16px; padding-right: 0px;" src="/images/newicon_vi.gif"></li>
						<li>{{title2}}</li>
						<li>{{title3}}</li>
					</ul>
				</div>
			</div>
			<div class="thanh-tieu-de">
				<div>
					<img style="max-width: 100%;display: block" src="/images/icon-title-1.png" alt="">
				</div>
				<div>
					<h3>Tuyển Sinh - Đào tạo</h3>
				</div>
			</div>
			<div class="article">
				<div class="left-article">
					<div class="anh-noi-dung">
						<img src={{imageUrl1}} alt="">
					</div>
					<div>
						<h4>{{newTitle1}}</h4>
						<p>{{shortcutContent1}}</p>
					</div>
				</div>
				<div class="right-article">
					<ul style = "list-style-type: square;" class = "clearfix">
						<li>{{title4}}<img style = "width: 33px; height: 16px; padding-right: 0px;" src="/images/newicon_vi.gif"></li>
						<li>{{title5}}<img style = "width: 33px; height: 16px; padding-right: 0px;" src="/images/newicon_vi.gif"></li>
						<li>{{title6}}</li>
						<li>{{title7}}</li>
					</ul>
				</div>
			</div>
			<div class="thanh-tieu-de">
				<div>
					<img style="max-width: 100%;display: block" src="/images/icon-title-1.png" alt="">
				</div>
				<div>
					<h3>Tuyển Sinh - Đào tạo</h3>
				</div>
			</div>
			<div class="article">
				<div class="left-article">
					<div class="anh-noi-dung">
						<img src={{imageUrl2}} alt="">
					</div>
					<div>
						<h4>{{newTitle2}}</h4>
						<p>{{shortcutContent2}}</p>
					</div>
				</div>
				<div class="right-article">
					<ul style = "list-style-type: square;" class = "clearfix">
						<li>{{title8}}<img style = "width: 33px; height: 16px; padding-right: 0px;" src="/images/newicon_vi.gif"></li>
						<li>{{title9}}<img style = "width: 33px; height: 16px; padding-right: 0px;" src="/images/newicon_vi.gif"></li>
						<li>{{title10}}</li>
						<li>{{title11}}</li>
					</ul>
				</div>
			</div>
			<div class="thanh-tieu-de">
				<div>
					<img style="max-width: 100%;display: block" src="/images/icon-title-1.png" alt="">
				</div>
				<div>
					<h3>Tuyển Sinh - Đào tạo</h3>
				</div>
			</div>
			<div class="special-article">special article</div>
		</div>
	</div>
</body>
</html>